@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@

<p> book Page </p>


@{
    var book_list = ViewData["book_list"] as IEnumerable<aspnet_mvc_test_01.Models.Join.BookJoin>;
}


@if (TempData["alear"] != null)
{
    <div class="alert alert-@TempData["status"] alert-dismissible fade show" role="alert">
        <strong>แจ้งเตือนจากระบบ !</strong> @TempData["msg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<a href="@Url.RouteUrl("book_create_page")"><button class="btn btn-primary">create book</button> </a>



<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Book Name</th>
            <th scope="col">Author Full Name</th>
            <th scope="col">Category Name</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in book_list.Select((value, i) => new { i, value }))
        {
            var value = item.value;
            var index = item.i + 1;

            <tr>
                <th scope="row">@index</th>
                <td>@value.book.book_name</td>
                <td>@value.author.author_fullname</td>
                <td>@value.category.category_name</td>
                <td><a href="@Url.RouteUrl("book_update_page" , new { id = value.book.book_id })" ><button class="btn btn-primary">update data</button></a></td>
                <td><a href="@Url.RouteUrl("filebook_index_page" , new { id = value.book.book_id})"> <button class="btn btn-primary">add file book</button></a></td>
                <td><a href="@Url.RouteUrl("book_delete_data" , new { id = value.book.book_id })" onclick="return confirm('Are you sure you want to Remove?');" ><button class="btn btn-danger">delete data</button></a></td>
            </tr>
        }
    </tbody>
</table>